li {
  list-style: none;
}

.form-title {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  .btn {
    margin-left: auto;
  }
}

.form-main {
  width: 700px;
  margin: auto;
  .form-group {
    .form-require {
      border-radius: 6px;
      background-color: red;
      color: white;
      font-size: 0.9rem;
      padding: 2px 4px;
    }
    .form-no {
      display: flex;
      .unit {
        padding: 6px 12px;
      }
    }
    ul {
      padding: 0;
    }
    li.tagit-choice {
      border-radius: 6px;
      border: 1px solid #CAD8F3;
      background: none;
      background-color: #DEE7F8;
      font-weight: normal;
      padding: .2em .5em .2em .5em;
      position: relative;
      line-height: inherit;
      color: #454545;
      display: block;
      float: left;
      margin: 2px 5px 2px 0;
      box-sizing: border-box;
    }
  }
  table.table {
    td {
      width: 1/3;
    }
    li.tag-confirmation {
      border-radius: 6px;
      border: 1px solid #CAD8F3;
      background: none;
      background-color: #DEE7F8;
      font-weight: normal;
      padding: .2em .5em .2em .5em;
      position: relative;
      line-height: inherit;
      color: #454545;
      display: block;
      float: left;
      margin: 2px 5px 2px 0;
      box-sizing: border-box;
    }
  }
}

.event-created {
  padding: 10px;
  .btn-twitter {
    background-color: $twitter;
    color: white;
    font-weight: 500;
  }
}
