nav.header {
  background-color: $header;
  box-shadow: 0 1px 6px 0 $header;
  position: fixed;
  width: 100%;
  z-index: 999;
  .navbar-header {
    width: 800px;
    margin: 0 auto;
    display: flex;
    .header-left {
      margin-right: auto;
      a {
        padding-left: 0;
      }
    }
    .header-right {
      margin-left: auto;
      .btn-group {
        #dropdownMenuButton {
          padding: 0;
          margin-left: 30px;
        }
        .dropdown-menu {
          margin-top: 8px;
        }
      }
    }
  }
}

nav.footer {
  padding: 0;
  .navbar-footer {
    margin: auto;
    a {
      font-size: 1rem;
      color: $header;
    }
  }
}

.btn-twitter {
  background-color: $twitter;
  color: white;
  font-weight: 500;
}

img.twitter-icon {
  height: 38px;
  width: 38px;
  padding: 0;
  border-radius: 50%;
}
